<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>CRUD formulario</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h1 class="jumbotron">Listado de Formularios</h1>
                <table>
                    <tr>
                        <th> <label for="name"> Nombre: </label> <input id="name" type="text" class="form-control" /> </th>
                        <th> <label for="sector"> Sector: </label> <input id="sector" type="text" class="form-control" /> </th>
                        <th> 
                            <label for="nivel"> Nivel Academico: </label> 
                            <!-- <input id="nivel" type="text" class="form-control"> -->
                            <select name="nivel" id="nivel" class="form-control">
                                <option value="Nivel Escolar" readonly>Nivel Escolar</option>
                                <option value="Nivel Basico">Nivel Basico</option>
                                <option value="Nivel Medio">Nivel Medio</option>
                                <option value="Grado Universitario">Grado Universitario</option>
                                <option value="Postgrado">Postgrado</option>
                                <option value="Doctorado">Doctorado</option>
                            </select> 
                        </th>
                        <th> <label for="latitud"> Latitud: </label> <input id="latitud" type="text" class="form-control" readonly/> </th>
                        <th> <label for="longitud"> Longitud: </label> <input id="longitud" type="text" class="form-control" readonly /> </th>
                        <th> <br><button id="btn-edit" class="btn btn-xs btn-danger" onclick="editElement()">editar</button> </th>
                    </tr>
                </table>
                

                <table id="grid" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Sector</th>
                            <th>Nivel Academico</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                        </tr>                    
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var elementToEdit = 0;
        window.onload = function () {
            var localStorageKeyName = 'forms';
            

            loadFromLocalStorage();

            // document.querySelector("#btn-send").addEventListener('click', function () {
            //     var name = document.getElementById("name"),
            //         sector = document.getElementById("sector"),
            //         nivel = document.getElementById("nivel");

            //     // Validate
            //     if (name.value.length === 0 || sector.value.length === 0 || !parseInt(nivel.value)) return;

            //     var form = {
            //         name: name.value,
            //         sector: sector.value,
            //         nivel: nivel.value
            //     };

            //     // Clean data
            //     name.value = '';
            //     sector.value = '';
            //     nivel.value = '';

            //     // Append to my localStorage
            //     appendObjectToLocalStorage(form);
            // })

            function loadFromLocalStorage(formularioToEdit) {

                if (formularioToEdit != null) {            
                    document.getElementById("name").value = formularioToEdit.nombre
                    document.getElementById("sector").value = formularioToEdit.Sector
                    document.getElementById("nivel").value = formularioToEdit.nivelEscolar
                    document.getElementById("latitud").value = formularioToEdit.latitud
                    document.getElementById("longitud").value = formularioToEdit.longitud
                }

                var formularios = [],
                    dataInLocalStorage = JSON.parse(localStorage.getItem("forms")),
                    gridBody = document.querySelector("#grid tbody");
                            
                if (dataInLocalStorage !== null) {
                    formularios = dataInLocalStorage;
                }

                // Draw TR from TBODY
                gridBody.innerHTML = '';

                formularios.forEach(function (x, i) {
                    parsed = JSON.parse(x)                    
                    var tr = document.createElement("tr"),
                        tdName = document.createElement("td"),
                        tdsector = document.createElement("td"),
                        tdNivel = document.createElement("td"),
                        tdLatitud = document.createElement("td"),
                        tdLongitud = document.createElement("td")
                        tdRemove = document.createElement("td"),
                        btnRemove = document.createElement("button");
                        tdEdit = document.createElement("td"),
                        btnEdit = document.createElement("button");
                        tdSend = document.createElement("td"),
                        btnSend = document.createElement("button");                         

                    tdName.innerHTML = parsed.nombre;
                    tdsector.innerHTML = parsed.Sector;
                    tdNivel.innerHTML = parsed.nivelEscolar;
                    tdLatitud.innerHTML = parsed.latitud;
                    tdLongitud.innerHTML = parsed.longitud;

                    

                    btnRemove.textContent = 'Remove';
                    btnRemove.className = 'btn btn-xs btn-danger';
                    btnRemove.addEventListener('click', function(){
                        removeFromLocalStorage(i);
                    });
                    tdEdit.appendChild(btnRemove);

                    btnEdit.textContent = 'Edit';
                    btnEdit.className = 'btn btn-xs btn-danger';
                    btnEdit.addEventListener('click', function(){
                        editFromLocalStorage(i);
                    });

                    tdEdit.appendChild(btnEdit)

                    btnSend.textContent = 'Send';
                    btnSend.className = 'btn btn-xs btn-danger';
                    btnSend.addEventListener('click', function(){
                        sendFromLocalStorage(i);
                    });

                    tdSend.appendChild(btnSend)

                    tr.appendChild(tdName);
                    tr.appendChild(tdsector);
                    tr.appendChild(tdNivel);
                    tr.appendChild(tdLatitud);
                    tr.appendChild(tdLongitud);
                    tr.appendChild(tdRemove);
                    tr.appendChild(tdEdit);
                    

                    gridBody.appendChild(tr);
                });
            }

            function removeFromLocalStorage(i){
                var formularios = [],
                    dataInLocalStorage = JSON.parse(localStorage.getItem("forms"));
                                        
                formularios = dataInLocalStorage;                
                formularios.splice(i, 1);
                localStorage.setItem(localStorageKeyName, JSON.stringify(formularios));
                
                loadFromLocalStorage();
            }
            function editFromLocalStorage(i){
                var formulario = null,
                    dataInLocalStorage = JSON.parse(localStorage.getItem("forms"));
                formulario = JSON.parse(dataInLocalStorage[i]) 
                elementToEdit = i;    
                loadFromLocalStorage(formulario);                
            }
            function sendFromLocalStorage(i){
                
            }             
        }
        function editElement(){
                var nombre = document.getElementById("name").value
                var sector = document.getElementById("sector").value
                var nivel  = document.getElementById("nivel").value
                var latitud = document.getElementById("latitud").value
                var longitud = document.getElementById("longitud").value

                var formulario = null,
                    dataInLocalStorage = JSON.parse(localStorage.getItem("forms"));
                formulario = JSON.parse(dataInLocalStorage[elementToEdit])

                formulario.nombre = nombre;
                formulario.Sector = sector;
                formulario.nivelEscolar = nivel;                
                formulario.latitud = latitud;
                formulario.longitud = longitud;

                dataInLocalStorage[elementToEdit] = JSON.stringify(formulario)

                localStorage.setItem("forms", JSON.stringify(dataInLocalStorage))
                window.location.reload()

            }
    </script>
</body>
</html>